# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  - main

pool:
  vmImage: ubuntu-latest
variables:
  buildConfiguration: Release

steps:
  - task: AzureCLI@2
    displayName: 'Azure CLI: deploy.ps1'
    inputs:
      #azureSubscription: 'Visual Studio Enterprise-abonnement'
      scriptType: pscore
      scriptPath: deploy/deploy.ps1

  - script: dotnet build --configuration $(buildConfiguration)
    displayName: dotnet build $(buildConfiguration)

# trigger:
# - main

# pool:
  # vmImage: ubuntu-latest

# variables:
  # buildConfiguration: 'Release'

# steps:
# - script: dotnet build --configuration $(buildConfiguration)
  # displayName: 'dotnet build $(buildConfiguration)'

