@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome HALLO 333</h1>
    <h1 class="display-4">DevOps training</h1>
    <link rel="stylesheet" href="app.css" type="text/css" />

</div>
