@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="alert-dark">DevOps</h1>
    <h1 class="d-block">DevOps</h1>
    <h2 class="d-block">DevOps</h2>


</div>
